/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&display=swap');
/* @import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+Devanagari&display=swap'; */
/* /@import 'https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap';*/
$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family: "Noto Serif Devanagari", serif;
$font-family: "Kalam";
/* $font-family: "Kalam",sans-serif; */
$body-bg: #181818;
$body-color: white;
$link-color: rgb(255,103,31);

$light: #525252;

$footer-bg: #181818;
$navbar-bg: #181818;
/*  $sidebar-bg: #303030; */
$sidebar-bg: #181818;


$code-block-bg-alpha: -.8;


$popover-bg: #242424;

$input-bg: #242424;


/*-- scss:rules --*/

.layout-example {
  background: $gray-700;
}
.hindi {
  font-family: 'Noto Serif Devanagari', serif;
}
.hindi-kalam{
  font-family: 'Kalam', serif;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
  cursor: default;
}
.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #181818 5px center/3em no-repeat;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  background-image: url("images/github-action-orange.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #181818 5px center/3em no-repeat;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  background-image: url("images/github-action-orange.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}